.negative {
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    height: 100vh;
    overflow-y: scroll;
    padding: 0 16px;

    .comment {
        display: flex;
        border: 1px solid var(--blue-light);
        border-radius: 4px;
        background: var(--blue-lightest);
        margin: 8px 0;
        padding: 8px;
    }
}